<div>
  <h1>Profile Details</h1>
  <div>

    {{pokemon.name}}
    {{pokemon.height}}
    {{pokemon.weight}}
    {{pokemon.baseExperience}}
  </div>
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" />
</div>
