<h4>Login form</h4>

<form>
  <fieldset>
    <label for="username">Username</label>
    <section>
      <span class="material-icons">catching_pokemon</span>
      <input type="text"
             [(ngModel)]="username"
             placeholder="Enter your username"
             id="username"
             name="username">
    </section>
  </fieldset>

  <button type="button" [disabled]="loading$ | async" (click)="onLoginClick()">
    <span *ngIf="loading$ | async">Loading</span>
    <span *ngIf="!(loading$ | async)">Login</span>
  </button>
</form>
